#my-pin-box{
    position: fixed;
    top:50%;
    right:0;
    width:70px;
    height:150px;
}
.icon-up, .icon-down{
    font-size:40px;
    width:60px;
    cursor: pointer;
    border:1px solid gray;
    margin:10px 0;
    padding: 0 0 0 8px;
    opacity: 0.5;
    box-shadow: 0 0 5px #fff;
}
.icon-up{
    border-radius: 10px 10px 0 0;
}
.icon-down{
    border-radius: 0 0 10px 10px;
}
.icon-up:hover, .icon-down:hover{
    color: green;
    border-color:green;
    opacity: 1;
}
#pin{
    font-size:25px;
    cursor: pointer;
}
.icon-pin-up:hover{
    color:green;
}

#delete{
    cursor: pointer;
    display: none;
    display: inline-block;
    font-size: 20px;
    opacity: 0.5;
    border: 1px solid gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0 0 0 4px;
}
#delete:hover{
    color:green;
}